*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  color: white;
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  background-color: #222222;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
}
.input-text{
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin-top: .3rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.input-text input{
  width: 100%;
  padding: 1rem 1rem;
  text-align: right;
  font-size: 1rem;
  border: none;
  border-radius: .25rem;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem 1rem;
}
.buttons button{
  padding: .4rem .8rem;
  border-radius: .2rem;
  border: none;
  background-color: whitesmoke;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 5px 2px rgba(0,0, 0, 1);
  transition: background-color 0.15s;
}
.buttons button:hover{
  background-color: rgb(237, 230, 230);
}
.buttons .equal-btn{
  grid-column: span 2;
  background-color: orangered;
  color: white;
  transition: background-color 0.15s;
  
}
.buttons .equal-btn:hover{
  background-color: rgb(230, 70, 12);

}
 .buttons .all-clear-btn,
 .buttons .delete-btn{
  background-color: red;
  color: white;
  transition: background-color 0.15s ;
}
 .buttons .all-clear-btn:hover,
 .buttons .delete-btn:hover{
  background-color: rgb(214, 10, 10);
}

@media (max-width: 600px) {
  .calculator{
    max-width: 200px
  }
  .buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: .5rem;
    column-gap: .5rem;
    padding: .5rem .5rem;
  }
  .buttons button{
    padding: .3rem .6rem;
    border-radius: .2rem;
    border: none;
    background-color: whitesmoke;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }
}